@import "catpuccin.css";

html *
{
	font-family: a-otf-ud-shin-go-pr6n, sans-serif !important;
}

body {
	background-color: var(--ctp-latte-crust);
	color: var(--ctp-latte-text);
	margin: 10px;
	font-weight: 300;
	font-style: normal;
}

.header {
	padding: 10px;
	text-align: center;
	background: var(--ctp-latte-mauve);
	color: var(--ctp-latte-base);
	font-style: normal;
}

.header h1 {
	font-size: 40px;
	font-style: normal;
}

.navbar {
	overflow: hidden;
	background-color: var(--ctp-latte-overlay0);
}

.navbar a:hover {
	background-color: var(--ctp-latte-overlay1);
	color: var(--ctp-latte-text);
}

.navbar a {
	float: left;
	display: block;
	color: var(--ctp-latte-text);
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

.navbar a.right {
	float: right;
}
